<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>
        {{ title }}
    </title>
    {% include 'appOne/header.html' %}
</head>

<body>
    <div class="container">
        <header class="header">
            <ul class="list-inline">
                <li class="list-inline">
                    <a class="title" href="{% url 'home' %}">Home</a>
                </li>
                <li class="list-inline">
                    <a class="title" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="list-inline">
                    <a class="title" href="{% url 'terms' %}">Terms</a>
                </li>
                <li class="list-inline">
                    <a class="title" href="{% url 'login' %}">Login</a>
                </li>
                <li class="list-inline">
                    <a class="title" href="{% url 'register' %}">Register</a>
                </li>
                <li class="list-inline">
                    <a class="title" href="{% url 'contact' %}">Contact Us</a>
                </li>
            </ul>
        </header>
    </div>

{% include 'appOne/footer.html' %}
</body>

</html>