<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Mini Project L3</title>
	<link rel="stylesheet" href="Wesalni/wesalni/static/css/style.css">
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="logo">
				<img src="/home/akram/Desktop/" alt="">
			</div>
			<ul class="nav-area">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="C:\Users\User\Desktop\miniproject\login.html">Login</a></li>
			</ul>
		</div>

		<div class="welcome-text">
			<h1>Welcome</h1>
			<a href="#"> wach la famille </a>
		</div>
	</header>
</body>
</html>
