<DOCTYPE html>
    {% load staticfiles %}
<html>
<head><title>Register</title><link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src={% static 'js/bootstrap.min.js' %} integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
<div class="col-sm-6 col-12">
<form method='POST'>
<p> Sign-up</p>
{% csrf_token %}
{{ form }}

<input class="btn btn-primary" value="sign-up" type="submit">

    <div class="container">
        <a class="fab fa-github btn btn-dark btn-lg" href="{% url 'social:begin' 'github' %}" role="button"> Github</a>
        <a class="fab fa-google btn btn-danger btn-lg" href="{% url 'social:begin' 'google-oauth2' %}" role="button"> Google</a>
        <a class="fab fa-facebook btn btn-primary btn-lg" href="{% url 'social:begin' 'facebook' %}" role="button"> Facebook</a>
    </div>
</form>
</div>
</body>
</html>